<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网易云音乐</title>
    <link rel="stylesheet" href="./css/网易云音乐.css">
</head>
<body>
<div class="wrap">
    <!-- 播放器主体区域 -->
    <div class="play_wrap" id="player" v-cloak>
        <div class="search_bar">
            <img src="img/player_title.png" alt="" />
            <!-- 搜索歌曲 -->
            <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic" />
        </div>
        <div class="center_con">
            <!-- 搜索歌曲列表 -->
            <div class='song_wrapper'>
                <ul class="song_list">
                    <li v-for="item in musicList"><a @click="playMusic(item.id)" href="javascript:;"></a> <b>{{item.name}}</b> <span @click="playMV(item.mvid)" v-if="item.mvvid!=0"><i></i></span></li>
                </ul>
                <img src="img/line.png" class="switch_btn" alt="">
            </div>
            <!-- 歌曲信息容器 -->
            <div class="player_con" :class="{playing:isPlaying}">
                <img src="img/player_bar.png" class="play_bar" />
                <!-- 黑胶碟片 -->
                <img src="img/disc.png" class="disc autoRotate" />
                <img :src="musicCover||'img/cover.png'" class="cover autoRotate" />
            </div>
            <!-- 评论容器 -->
            <div class="comment_wrapper">
                <h5 class='title'>热门留言</h5>
                <div class='comment_list'>
                    <dl v-for="({content,user}) in hotComments">
                        <dt><img :src="user.avatarUrl" alt=""></dt>
                        <dd class="name">{{user.nickname}}</dd>
                        <dd class="detail">
                            {{content}}
                        </dd>
                    </dl>
                </div>
                <img src="img/line.png" class="right_line">
            </div>
        </div>
        <div class="audio_con">
            <audio ref='audio' @play="play" @pause="pause"  :src="musicUrl" controls autoplay loop class="myaudio"></audio>
        </div>
        <div class="video_con"  v-show="isShow" style="display: none;">
            <video ref="video"  @pause="pauseMV" :src="mvUrl" controls="controls"></video>
            <div @click="hide" class="mask" ></div>
        </div>
    </div>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- 官网提供的 axios 在线地址 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>